/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */

/* Default styles ^^^^^^^ */
body {
  margin: 2%;
  padding: 0;
  background-color: black;
  color: azure;
}

h1 {
  font-size: 4em;
}

h2 {
  font-size: 2.5em;
  text-align: center;
}

h3 {
  font-size: 1.5em;
}

.add button {
  align-self: flex-end;
}

.add {
  display: flex;
  flex-direction: column;
  align-items: center;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  margin: 15px 15px;
  padding: 5px 10px;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;

  border: solid;
  border-color: darkslategray;
}

li > h2 {
  text-align: left;
  font-size: 2.5em;
}

.search {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.search-box {
  width: 100%;
  /* padding-left: 10px; */
}

.search-box {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.search-result {
  min-height: 5vh;
  width: 100%;
  padding: auto 10px;

  text-align: center;

  border: solid;
  border-color: gray;
}

.number-list {
  border: solid;
  border-color: gray;
}

.number-list button {
  height: 8vh;
  width: 16vw;
}

.info {
  width: 80%;
}
